<h2>Statistics</h2>

<dl class="dl-horizontal">
  <dt>Users</dt>
  <dd><%= @total_users %></dd>
  <dt>Hoppers</dt>
  <dd><%= @total_hoppers %></dd>
  <dt>Tasks</dt>
  <dd><%= @total_tasks %></dd>
  <dt>Users (last 24 hours)</dt>
  <dd><%= @total_users_day %></dd>
  <dt>Users (last 7 days)</dt>
  <dd><%= @total_users_week %></dd>
  <dt>Users (last 30 days)</dt>
  <dd><%= @total_users_month %></dd>
</dl>
