<% hopper = current_user.pinned_hopper %>
<% task = hopper.pinned_task %>
<div class="panel panel-default">
  <div class="panel-heading"><h3><%= hopper.title %><%= link_to fa_icon("window-close"), hopper_unpin_path(hopper), method: :post %></h3></div>
  <div class="panel-body">
    <% if task.nil? %>
      <% if flash[:finished] %>
        <p class="lead encourage"><%= flash[:finished] %></p>
      <% end %>
      <%= render "tasks/task_modal_toggle", class: "btn btn-primary", hopper: hopper %>
      <% if hopper.tasks.empty? %>
        <p class="hopper-msg">Hopper is empty</p>
      <% else %>
        <%= link_to "Start", hopper_start_path(hopper), method: :post, class: 'btn btn-success'%>
        <p class="hopper-msg">No tasks underway</p>
      <% end %>
    <% else %>
      <%= simple_format(task.text, class: "lead") %>
      <%= link_to "Delete", [task.hopper, task], method: :delete, class: 'btn btn-danger'%>
      <%= link_to "Do later", hopper_do_other_path(hopper), method: :post, class: 'btn btn-success' %>
      <%= link_to "Finish", hopper_task_finish_path(hopper, task), method: :post, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
