<% hopper = current_user.pinned_hopper %>
<% task = hopper.pinned_task %>
<h3 class="display-5">"<%= hopper.title %>"</h3>
<% if task.nil? %>
  <% if flash[:finished] %>
    <p class="lead finished"><%= flash[:finished] %></p>
  <% end %>
  <% if hopper.tasks.empty? %>
    <p class="lead">Hopper is empty!</p>
  <% else %>
    <p class="lead">No tasks underway.</p>
  <% end %>
  <%= render "tasks/task_modal_toggle", class: "btn btn-primary", hopper: hopper %>
  <% unless hopper.tasks.empty? %>
    <%= link_to "Start", hopper_start_path(hopper), method: :post, class: 'btn btn-success'%>
  <% end %>
<% else %>
  <p class="lead"><%= simple_format(task.text) %></p>
  <%= link_to "Delete", [task.hopper, task], method: :delete, class: 'btn btn-danger'%>
  <%= link_to "Do later", hopper_do_other_path(hopper), method: :post, class: 'btn btn-success' %>
  <%= link_to "Finish", hopper_task_finish_path(hopper, task), method: :post, class: 'btn btn-primary' %>
<% end %>
