<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="jumbotron">
        <% if @pinned.nil? %>
          <h2 class="display-4">Let's get started</h1>
          <p class="lead">Hoppers store your tasks so you can access them later one at a time.</p>
          <ol>
            <li>Create a hopper to store what you need to keep track of</li>
            <li>Add tasks at hopper until you're content</li>
            <li>Pop the hopper to pin a random task stored therein</li>
          </ol>
          <p class="lead">If you pop a hopper while a task is pinned, the pinned task will be returned to its hopper.</p>
        <% else %>
          <h3 class="display-5">"<%= @pinned.hopper.title %>"</h1>
          <p class="lead"><%= @pinned.text %></p>
          <%= link_to "Return", task_unpin_path(@pinned), method: :post, class: 'btn btn-success' %>
          <%= link_to "Delete",  @pinned, method: :delete, class: 'btn btn-danger'%>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <h2>Hoppers</h2>
      <%= form_for Hopper.new, html: {class: 'form-inline'} do |f| %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Hopper Title' %>
        <%= f.submit 'Add', class: 'btn btn-success' %>
      <% end %>
      <div id="hopper-accordion" class="panel-group hoppers">
        <% @hoppers.each do |hopper| %>
          <div class="panel">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#hopper-accordion" href="#hopper-<%=hopper.id%>"/><%= hopper.title %></a>
              </h5>
              <div class="buttons">
                <%= link_to "Delete", hopper_path(hopper), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure you want to delete hopper \"#{hopper.title}\"?" } %>
                <%= link_to "Add Task", "#hopper-" + hopper.id.to_s, class: "btn btn-success btn-xs", "data-toggle": "collapse", "data-parent":"#hopper-accordion" %>
                <% if hopper.size > 0 %>
                  <%= link_to "Pop!", hopper_pop_path(hopper), method: :post, class: "btn btn-primary btn-xs" %>
                <% end %>
              </div>
            </div>
            <div id="hopper-<%=hopper.id%>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= bootstrap_form_for Task.new do |f| %>
                  <%= f.text_area :text, label: "New Task", rows: 5, placeholder: 'Enter a description of the task' %>
                  <%= f.submit 'Add to Hopper', class: "btn btn-success" %>
                  <%= f.hidden_field :hopper_id, value: hopper.id %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
