<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Random Hopper</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="<%= image_url 'logo.png'  %>">

    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header vcenter">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-logo" href="/"><%= image_tag 'logo.png' %></a>
          <a class="navbar-brand" href="/">Random Hopper</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <div class="navbar-right navbar-form">
            <% if user_signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
            <% else %>
              <%= bootstrap_form_for :user, url: session_path(:user), layout: :inline do |f| %>
                <%= f.text_field :email, hide_label: true, placeholder: 'Email' %>
                <%= f.password_field :password, hide_label: true, placeholder: 'Password' %>
                <%= f.primary 'Login' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    </div>
    <% flash.each do |key, value| %>
      <% if is_flash_alert(key) %>
        <%= flash_alert(key, value) %>
      <% end %>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
